.navbar-style{
    background-color: #fe6c30;
    margin : 0px;
    height : 3rem;
    padding-left : 0.5rem;
    width : 100%
}
.navbar-brand{
    height :2.5rem;
    width : auto
}

.option-card{
    width: auto;
    margin : 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}